# Ignore NetCDF and NumPy data files
*.nc
*.npz

# Ignore Sentinel-2 and similar folders
*.SAFE/

# Ignore AERONET folders
LWN_Level15*/
LWN_Level20*/

# Ignore formatting files
*.DS_Store

# Ignore cache files
__pycache__

Ignore plots
*.png